.profile-section {
  margin: 4rem 0;
}
.edit-profile-photo-area-wrap {
  position: relative;
  margin-bottom: 20px;
}
.edit-profile-username-area {
  margin-top: 10px;
  text-align: center;
}
.edit-profile-photo-area-wrap h5 {
  font-weight: bold;
}

.edit-profile-photo-area {
  position: relative;
}

.edit-profile-photo-area img {
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
.user-photo-upload {
  position: relative;
  overflow: hidden;
  padding: 3px 12px;
  cursor: pointer;
}
.user-photo-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.change-photo-btn-item {
  border-radius: 30px;
  display: inline-block;
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  bottom: 15px;
  left: 15px;
  right: 15px;
  text-align: center;
  width: auto;
  background-color: #fff;
  color: #333;
  transition: 0.3s;
  cursor: pointer;
  line-height: 34px;
}
.change-photo-btn-item:hover {
  color: #fff;
  background-color: var(--primary-color);
}
.change-photo-btn-item i {
  margin-right: 2px;
}
.user-smt-account-menu-container {
  border-radius: 6px;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 12%);
  background: #fbfdff;
  padding: 20px;
  margin: 0 0 40px 0;
}

.sidebar-widget-item {
  margin-bottom: 30px;
  display: block;
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
}
.user-account-nav-menu {
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
}
.user-account-nav-menu li {
  list-style: none;
  padding: 12px 0;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
}
.user-account-nav-menu li i {
  background: rgba(0, 0, 0, 0.06);
  font-size: 16px;
  position: relative;
  top: 1px;
  padding: 8px;
  border-radius: 30px;
  margin-right: 7px;
  color: #666;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s;
}
.user-account-nav-menu li a {
  color: #333;
  text-decoration: none;
}
.user-account-nav-menu li a.current,
.user-account-nav-menu li a:hover {
  color: var(--primary-color);
}
.user-account-nav-menu li a.current i,
.user-account-nav-menu li a:hover i {
  background: var(--primary-color);
  color: #ffffff;
}
.submit-page-inner-box {
  display: block;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
  margin-bottom: 30px;
  position: relative;
}

.submit-page h3:first-child,
.user-profile-item h3:first-child {
  margin-top: 0;
}

.submit-page h3,
.user-profile-item h3 {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px 4px 0 0;
  padding: 18px 25px;
  margin-bottom: 0px;
  display: block;
  margin-top: 30px;
}
.submit-page h5 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #4f4f4f;
}
.submit-page-inner-box {
  display: block;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
  margin-bottom: 30px;
  position: relative;
}
.submit-page-inner-box ul {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px 4px 0 0;
  padding: 18px 25px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}
.submit-page-inner-box ul .dae {
  margin-left: 11rem;
}
.submit-page-inner-box .content.with-padding,
.user-profile-item-inner-box .content.with-padding {
  padding: 20px;
  display: inline-block;
  width: 100%;
}

.user-profile-item label {
  margin-top: 5px;
  font-weight: 600;
  color: #4f4f4f;
}

.content input,
.content input[type="text"],
.content input[type="password"],
.content input[type="email"],
.content input[type="number"],
.content select {
  outline: none;
  box-sizing: border-box;
  display: block;
  background-color: #fbfdff;
  font-weight: 500;
  border: 1px solid #dde6ef;
  opacity: 1;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 5%);
  border-radius: 3px;
  height: 51px;
  line-height: 51px;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 10px;
}

.user-profile-item textarea {
  height: 180px;
  width: 100%;
  padding: 15px;
}

textarea {
  background-color: #fbfdff;
  border: 1px solid #dde6ef;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 5%);
}

.user-profile-item .submit-page-inner-box label i.fa-facebook-square {
  color: #3b5998;
}

.user-profile-item .submit-page-inner-box label i.fa-twitter {
  color: #00b6f1;
}

.user-profile-item .submit-page-inner-box label i.fa-linkedin-in {
  color: #04669a;
}

.user-profile-item .submit-page-inner-box label i.fa-pinterest {
  color: #c91517;
}
.user-profile-item .submit-page-inner-box label i.fa-google {
  color: #c20806;
}

.user-profile-item .submit-page-inner-box label i.fa-instagram {
  color: #c8232c;
}

.user-profile-item .submit-page-inner-box label i {
  margin-right: 5px;
}

.button-profile {
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border: none;
  border-radius: 4px;
}
.button-profile:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.user-profile-item .item-box:first-child:hover {
  transition: 0.3s;
  transform: scale(1);
  box-shadow: 0 1px 12px rgb(0 0 0 / 0%);
}

.user-profile-item .item-box {
  background: #ffffff;
  transition: 0.3s;
}
.user-profile-item .title-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 25px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.user-profile-item .title-container:hover {
  background-color: #fcfcfc;
  transition: 0.3s;
  transform: scale(1.02);
  box-shadow: 0 1px 12px rgb(0 0 0 / 8%);
}

.user-profile-item .title-container img {
  width: 20%;
  border-radius: 3px;

  margin-right: 26px;
}
.user-profile-item .title-container .title {
  width: 35%;
}
.user-profile-item .title-container .date {
  width: 20%;
  padding: 1.7rem 1rem;
}
.user-profile-item .title-container .action {
  width: 20%;
  text-align: right;
}
.user-profile-item .title-container .title h4 {
  margin-bottom: 4px;
  margin-top: 2px;
  display: block;
  font-weight: 600;
  font-size: 18px;
}
.user-profile-item .title-container .title h4 a:hover {
  color: #e33324;
  text-decoration: none;
}

.user-profile-item .title-container .title h4 a {
  color: #333;
}
.user-profile-item .title-container .title span {
  display: block;
}
.user-profile-item .title-container .title .property-price {
  display: inline-block;
  background: var(--primary-color);
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  padding: 2px 10px;
}
.user-profile-item .action {
  padding: 1.7rem 0rem;
}
.bookmarks-table .action {
  width: 30%;
  padding: 2rem 0rem;
}
.bookmarks-table .title-container .title {
  width: 56%;
}
.user-profile-item .action a.delete {
  padding: 6px 8px;
  line-height: 20px;
  font-size: 13px;
  border-radius: 30px;
  font-weight: 600;
  margin: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: red;
  box-shadow: 0 3px 8px rgb(234 65 81 / 15%);
}
.user-profile-item .action a.view {
  padding: 6px 8px;
  line-height: 20px;
  font-size: 13px;
  border-radius: 30px;
  font-weight: 600;
  margin: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: blue;
  box-shadow: 0 3px 8px rgb(234 65 81 / 15%);
}
.user-profile-item .action a.edit {
  padding: 6px 8px;
  line-height: 20px;
  font-size: 13px;
  border-radius: 30px;
  font-weight: 600;
  margin: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: green;
  box-shadow: 0 3px 8px rgb(234 65 81 / 15%);
}
.user-profile-item .action a.delete i,
.user-profile-item .action a.edit i,
.user-profile-item .action a.view i {
  font-size: 15px;
  top: 2px;
  color: #ffffff;
  position: relative;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.checkboxes {
  list-style: none;
  padding: 0;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.submit-page textarea,
.submit-page input {
  transition: box-shadow 0.2s !important;
}

.chosen-container-single .chosen-default {
  color: #999;
}

.chosen-select-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 18px;
  height: 51px;
  line-height: 51px;
  background-color: #fbfdff;
  border: 1px solid #dde6ef;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 5%);
  color: #888;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  border-radius: 3px;
  width: 100%;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-select-single option {
  display: list-item;
  cursor: pointer;
  margin: 0;
  padding: 10px 10px;

  line-height: 15px;
}
.content1 {
  padding: 20px;
  display: inline-block;
  width: 100%;
}
.content1 .terms-check {
  font-size: 14px;
  font-weight: bold;
}
.checkboxes label {
  cursor: pointer;
  margin-right: 28px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .change-photo-btn-item {
    font-size: 13px;
  }
  .user-photo-upload {
    padding: 3px 0px;
  }
  .user-smt-account-menu-container {
    padding: 5px;
  }
  .user-account-nav-menu li {
    font-size: 13px;
  }
  .user-account-nav-menu li i {
    font-size: 13px;
    padding: 5px;
    margin-right: 3px;
  }
  .user-profile-item .title-container {
    padding: 25px 10px;
  }
  .user-profile-item .title-container img {
    width: 28%;
  }
  .bookmarks-table .title-container .title {
    width: 45%;
  }
  .user-profile-item .title-container .title h4 {
    font-size: 15px;
  }
  .user-profile-item .title-container .date {
    padding: 0px;
  }
  .user-profile-item .title-container .prop-ac {
    width: 10px;
    padding: 0;
  }
  .user-profile-item .title-container .prop-ac a {
    margin-bottom: 5px;
  }
}
